.playmid {
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 30px;
    height: 75px;
    width: 75px;
    transition: all 0.1s;
}

.playmid:active {
    background-color: rgba(45, 45, 45, 0.7);
    color: white;
    border: none;
    border-radius: 25%;
    height: 45px;
    width: 45px;
}

.rewind_ {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 25px;
    transition: all 0.1s;
}

.rewind_:active {
    background-color: rgba(35, 35, 35, 0.6);
    color: white;
    border: none;
    border-radius: 25%;
    height: 35px;
    width: 35px;
}

.forward_ {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 25px;
    transition: all 0.1s;
}

.forward_:active {
    background-color: rgba(35, 35, 35, 0.6);
    color: white;
    border: none;
    border-radius: 25%;
    height: 35px;
    width: 35px;
}

.play {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 20px;
    transition: all 0.1s;
}

.play:active {
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.next {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 20px;
    transition: all 0.1s;
}

.next:active {
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.volume {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 20px;
    transition: all 0.1s;
}

.volume:active {
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.setting {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 20px;
    transition: all 0.1s;
}

.setting:active {
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.fullSCREEN {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 20px;
    transition: all 0.1s;
}

.fullSCREEN:active {
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.close {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 20px;
    transition: all 0.1s;
}

.close:active {
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}