    .Controls {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
    .FullScreen {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: grid;
    }
    
    .CloseHolder {
        grid-row: 1;
        display: grid;
    }
    
    .close {
        grid-row: 2;
        grid-column: 105;
    }
    
    .QS_DIV {
        grid-row: 10;
        display: grid;
    }
    
    .QualitySetting {
        grid-column: 11;
    }
    
    .Mid {
        grid-row: 7;
        display: grid;
        border-radius: 10px;
    }
    
    .rewind {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .PlayMid {
        grid-row: 1;
        grid-column: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .forward {
        grid-row: 1;
        grid-column-start: 6;
        grid-column-end: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Low {
        grid-row: 11;
        border-radius: 10px;
        display: grid;
        background-image: linear-gradient(to top, rgb(45, 45, 45), rgba(0, 0, 0, 0.0));
    }
    
    .Play {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Next {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Volume {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Setting {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column: 15;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Fullscreen {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column: 15;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .CurrentTime {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .TotalTime {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 15;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Timeline {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 15;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .QualitySetting {
        background-color: rgba(24, 24, 24, 0.5);
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .res1080p {
        border: none;
        background-color: transparent;
        color: white;
    }
    
    .res720p {
        border: none;
        background-color: transparent;
        color: white;
    }
    
    .res480p {
        border: none;
        background-color: transparent;
        color: white;
    }
    
    .res360p {
        border: none;
        background-color: transparent;
        color: white;
    }