#timeline {
    -webkit-appearance: none;
    position: relative;
    width: 99%;
    appearance: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgba(45, 45, 45, 0.7);
    font-size: 10px;
}

#timeline::-webkit-slider-runnable-track {
    height: 10px;
    background: transparent;
    border-radius: 10px;
}

#timeline::-moz-range-track {
    height: 10px;
    background: transparent;
    border-radius: 10px;
}

#timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    background-color: #CCEEBC;
    border-radius: 50%;
    border: 2px solid rgb(40, 40, 40);
    box-shadow: -4007px 0 0 4000px #CCEEBC;
}

#VolumeRange {
    -webkit-appearance: none;
    position: relative;
    width: 70%;
    appearance: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 15px;
    font-size: 10px;
    background-color: rgba(45, 45, 45, 0.7);
}

#VolumeRange::-webkit-slider-runnable-track {
    height: 10px;
    background: transparent;
    border-radius: 10px;
}

#VolumeRange::-moz-range-track {
    height: 10px;
    background: transparent;
    border-radius: 10px;
}

#VolumeRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    background-color: #CCEEBC;
    border-radius: 20%;
    border: 2px solid rgb(40, 40, 40);
    box-shadow: -4007px 0 0 4000px #CCEEBC;
}