.Main {
    width: 100%;
    height: 100%;
    display: grid;
}

.Main>* {
    grid-row: 1;
    grid-column: 1;
}

.videoPlayer {
    width: 100%;
    height: 100%;
}

.Controls {
    z-index: 2;
}

video {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
}