.HomePannel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: fixed;
    top: 0rem;
    left: 5rem;
    right: 0;
    bottom: 0;
    background-color: white;
    color: rgba(40, 40, 40, 1);
    z-index: 1000;
    text-align: center;
}

.PlayerPannel {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0rem;
    left: 5rem;
    right: 0;
    bottom: 0;
    background-color: white;
    color: rgba(40, 40, 40, 1);
    z-index: 999;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .HomePannel {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: fixed;
        flex-direction: column;
        top: 5rem;
        left: 0rem;
        right: 0;
        bottom: 0;
        background-color: white;
        color: rgba(40, 40, 40, 1);
        z-index: 1000;
        text-align: center;
    }
    .PlayerPannel {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
        position: fixed;
        top: 5rem;
        left: 0rem;
        right: 0;
        bottom: 0;
        background-color: white;
        color: rgba(40, 40, 40, 1);
        z-index: 999;
        text-align: center;
    }
}