.HomePannel {
    position: fixed;
    top: 0rem;
    left: 5rem;
    right: 0;
    bottom: 0;
    background-color: lavender;
    z-index: 1000;
    text-align: center;
}

.PlayerPannel {
    position: fixed;
    top: 0rem;
    left: 5rem;
    right: 0;
    bottom: 0;
    background-color: lavender;
    z-index: 999;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .HomePannel {
        position: fixed;
        top: 5rem;
        left: 0rem;
        right: 0;
        bottom: 0;
        background-color: lavender;
        z-index: 1000;
        text-align: center;
    }
    .PlayerPannel {
        position: fixed;
        top: 5rem;
        left: 0rem;
        right: 0;
        bottom: 0;
        background-color: lavender;
        z-index: 999;
        text-align: center;
    }
}