.HomePannel {
    margin-top: 6rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .HomePannel {
        margin-top: 6rem;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}