.Black_ {
    background-color: #2c2c2c;
}

.Black_1 {
    background-color: #292929;
}

.Orange_ {
    background-color: #d24f0d;
}

.Button_rounded {
    background-color: white;
    color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.2);
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.Button_rounded:active {
    transform: translate(-5px, 5px);
    /* transform: translateY(5px); */
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0);
}

@keyframes Rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}