.Black_ {
    background-color: #2c2c2c;
}

.Black_1 {
    background-color: #292929;
}

.Orange_ {
    background-color: #d24f0d;
}

.Button_rounded {
    content: "";
    background-color: #292929;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    transition: all 0.1s;
}

.Button_rounded:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 7px 77px -6px rgba(40, 40, 40, 0.9);
    -webkit-box-shadow: 0px 7px 77px -6px rgba(40, 40, 40, 0.9);
    -moz-box-shadow: 0px 7px 77px -6px rgba(40, 40, 40, 0.9);
}

.Button_rounded:active {
    transform: scale(95%);
}

@keyframes Rotate {
    0% {
        transform: rotate(0%);
    }
    100% {
        transform: rotate(100%);
    }
}