.NavBar {
    top: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 100vh;
    left: 0;
    width: 70px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.NavLOGO {
    content: none;
}

.NavLOGO::after {
    content: "dark_mode";
}

.NavLOGO:active {
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0);
}

.ResShow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: rgb(35, 35, 35);
}

@media screen and (min-width: 400px) {
    .NavBar {
        background-color: green;
    }
}

@media screen and (min-width: 800px) {
    .NavBar {
        background-color: lightsalmon;
    }
}

@media screen and (min-width: 1000px) {
    .NavBar {
        background-color: lightseagreen;
    }
}

@media screen and (min-width: 1200px) {
    .NavBar {
        background-color: lightcoral;
    }
}